* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #e6e6e6;
}
header {
	width: 100%;
	padding: 30px 4% 10px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9999;
	display: flex;
	align-items: center;
    background-color:#1d9bf0;
}
h1 {
	margin: 0;
	padding: 0;
	font-size: 15px;
	color: black;
}
a {	
	text-decoration: none;
	color: #4b4b4b;
}
ul {
	list-style: none;
	margin: 0;
	display: flex;
}
li {
	margin: 0 0 0 15px;
	font-size: 17px;
    color: #fff;
}
nav {
	margin: 0 0 0 auto;
}
main{
    padding:100px 50px;
}
form{
    margin:50px 0;
    text-align: center;
}
.outer-border {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #000; /* あなたの好みの色に変更してください。 */
    box-sizing: border-box;
}
.user{
    font-size: 20px;
}
.tweet{
    padding: 100px 50px;
    width: 100%;
    border: solid #d3def1;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
}

.new{
    padding: 100px 30px;
    margin: 100px auto;
    width: 50%;
    /* border: solid #d3def1; */
    border-radius: 10px;
    text-align: center;
    /* background-color: #d3def1; */
    }
    .login{
        padding: 100px 30px;
        margin: 100px auto;
        width: 50%;
    }
    .signup{
        padding: 100px 30px;
        margin: 100px auto;
        width: 50%;
    }

    .box1{
        width: 100%; /*幅*/
        height: 60px; /*高さ*/
        margin: 15px 0px; /*領域外のスペース*/
        background-color: #eee; /*背景色*/
        border-bottom: 2px solid #c2c2c2; /*text1の下線*/
    }
    
    
    #l_text1{
        display: block; /*要素の表示形式*/
        font-size: 14px; /*文字の大きさ*/
        padding: 5px 10px; /*領域内のスペース*/
    }
    
    #text1{
        font-size: 18px; /*文字の大きさ*/
        padding: 0 0 7px 10px; /*ボックスを大きくする*/
        width: 100%; /*幅*/
        background-color: #eee; /*背景色*/
        border: none; /*外枠の線*/
        outline: none; /*外枠の線*/
        border-bottom: 2px solid #c2c2c2; /*text1の下線*/
        box-sizing: border-box; /*横幅の解釈をpadding, borderまでとする*/
    }
    
    #text1:focus{
        border-bottom: 2px solid #1B73BA; /*下線の太さと色*/
    }
    
    #l_text2{
        display: block; /*要素の表示形式*/
        font-size: 13px; /*文字の大きさ*/
        padding: 5px 10px; /*領域内のスペース*/
    }
    
    #text2{
        font-size: 18px; /*文字の大きさ*/
        padding: 2px 0 7px 10px; /*ボックスを大きくする*/
        width: 100%; /*幅*/
        background-color: #eee; /*背景色*/
        border: none; /*外枠の線*/
        outline: none; /*外枠の線*/
        border-bottom: 2px solid #c2c2c2; /*text1の下線*/
        box-sizing: border-box; /*横幅の解釈をpadding, borderまでとする*/
    }
    
    #text2:focus{
        border-bottom: 2px solid #1B73BA; /*下線の太さと色*/
    }
    
    
    .btn1{
        position: relative; /*相対位置（topのために必要）*/
        width:100%; /*幅*/
        height:50px; /*高さ*/
        top: 10px; /*上の位置*/
        color:#fff; /*文字の色*/
        border:none; /*外枠*/
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
                border-radius: 25px; /*角の半径*/
        background:#1d9bf0; /*背景色*/
        display: block; /*要素の表示形式*/
        -webkit-appearance: none;
        outline: 0; /*外枠（押した後）*/
        cursor: pointer; /*カーソル（指のかたち）*/
    }
    .btn1:hover{
        opacity: 0.8; /*透明度*/
    }
    
    
    a {
        text-decoration: none; /*下線を消す*/
    }
    a:hover{
        text-decoration: underline; /*下線を引く*/
    }
    
    p {
        text-align: center; /*中央寄せ*/
    }
.title{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 50px;
    }
.text{
    width: 95%;
    height: 40px;
}
.submit{
    width: 200px;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 30px;
}
.edit{
    padding: 100px 50px;
}
.login{
    padding: 100px 50px;
}
.signup{
    padding: 100px 50px;
}

    footer {
        display: flex;
        position: fixed;
	    bottom: 0;
	    left: 0;
	    width: 100%;
        justify-content: center;
        align-items: center;
        height: 50px;
        background-color:#4b4b4b;
        font-size: 15px;
        color: #fff;
        visibility: hidden;
	opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    }

    html {
        scroll-behavior: smooth;
    }
    html:hover footer {
        visibility: visible;
        opacity: 1;
    }