{% extends 'layout.html' %}
{% block content %}
<div class="gridsystem">
    <a href="/">戻る</a>
    <!-- <h1>12分割</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-1 bg-primary">
                1
            </div>
            <div class="col-1 bg-danger">
                2
            </div>
            <div class="col-1  bg-success">
                3
            </div>
            <div class="col-1 bg-warning">
                4
            </div>
            <div class="col-1 bg-primary">
                5
            </div>
            <div class="col-1 bg-danger">
                6
            </div>
            <div class="col-1  bg-success">
                7
            </div>
            <div class="col-1 bg-warning">
                8
            </div>
            <div class="col-1 bg-primary">
                9
            </div>
            <div class="col-1 bg-danger">
                10
            </div>
            <div class="col-1  bg-success">
                11
            </div>
            <div class="col-1 bg-warning">
                12
            </div>
        </div>
        <h2>基本</h2>
        <div class="row">
            <div class="col-3 bg-primary">
                3/12
            </div>
            <div class="col-3 bg-danger">
                3/12
            </div>
            <div class="col-3  bg-success">
                3/12
            </div>
            <div class="col-3 bg-warning">
                3/12
            </div>
        </div>
        <div class="row">
            <div class="col-6 bg-success">
                6/12
            </div>
            <div class="col-6 bg-warning">
                6/12
            </div>
        </div>
    </div> -->
    <!-- <h1>スマホ対応版</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-3 bg-primary">
                3/12
            </div>
            <div class="col-12 col-sm-3 bg-danger">
                3/12
            </div>
            <div class="col-12 col-sm-3 bg-success">
                3/12
            </div>
            <div class="col-12 col-sm-3 bg-warning">
                3/12
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-6 bg-success">
                6/12
            </div>
            <div class="col-12 col-sm-6 bg-warning">
                6/12
            </div>
        </div>
    </div> -->
    <!-- <h2>応用</h2>
    <div class="container-fluid">
        <div class="row">
            <div class="col-3 bg-primary">
                3/12
            </div>
            <div class="col-3 bg-danger">
                3/12
            </div>
            <div class="col-3  bg-success">
                3/12
            </div>
            <div class="col-3 bg-warning">
                3/12
            </div>

        </div>
        <div class="row">
            <div class="col-6 bg-success">
                6/12
                <div class="row">
                    <div class="col-4 bg-primary">
                        4/12
                    </div>
                    <div class="col-4 bg-danger">
                        4/12
                    </div>
                    <div class="col-4  bg-success">
                        4/12
                    </div>
                </div>
            </div>
            <div class="col-6 bg-warning">
                6/12
            </div>
        </div>
    </div> -->
</div>
</div>
{% endblock %}