    {% extends 'layout.html' %}
    {% block content %}
<main>
    <div class="Bootstrap">
        <a href="components">components</a>
        <a href="gridsystem">gridsystem</a>
    </div>
    <div class="search">
        <form>
            <input type="text" name="search">
            <input type="submit" value="検索">
        </form>
    </div>
    <div class="user container">
        {% if current_user.is_authenticated %}
            <p>現在ログインしているユーザー：{{ current_user.username }}</p>
        {% endif %}
    </div>
    <a href="new" name="new"class="btn btn-outline-info">新規投稿</a>
    <div class="container">
        <h1 class="title">投稿一覧</h1>
        <div class="row">
            {%for post in posts%}
                <div class="col-md-4">
                    <article class="tweet">
                        <p>{{post.title}}:</b>{{post.body}}</p>
                        <a href="{{post.id}}/edit">編集</a>
                        <a href="{{post.id}}/delete">削除</a>
                    </article>
                </div>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}
