<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=stylesheet href="../static/css/style.css">
    <!-- ここにCSSの1行を追加する -->
    
    <title>GeekTwitter_Flask</title>
</head>
<body>
    <header>
		<h1>GeekTwitter_Flask</h1>
		<nav>
			<ul>
                <li><a href="/" class="btn btn-dark">ホーム</a></li>
				<li><a href="login" class="btn btn-dark">ログイン</a></li>
				<li><a href="signup" class="btn btn-dark">新規登録</a></li>
				<li><a href="logout" class="btn btn-dark">ログアウト</a></li>
			</ul>
		</nav>
	</header>
{% block content %}
{% endblock %}
    <footer class="footer">
        <div class="fotter_logo">GeekSalon_福岡AI2期_サカガミツヨシ</div>
    </footer>
    <!-- ここにJSの3行を追加する -->
    
</body>
</html>