{% extends 'layout.html' %}
{% block content %}
<div class="new">
    <form action="/signup" method="POST">
        <legend>GeekTwitterに新規登録する</legend>
        <div class="mb-3">
            <label class="form-label">ユーザー名</label>
            <input type="text" class="form-control" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">パスワード</label>
            <input type="password" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">サインアップ</button>
    </form>
</div>
{% endblock %}